language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - 7.2

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_script:
    - composer update

script: 
  - ./vendor/bin/phpunit
