<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit colors="true" bootstrap="vendor/autoload.php" >

    <testsuites>
        <testsuite name="Stampie Test Suite">
            <directory>./tests/Stampie/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib</directory>
        </whitelist>
    </filter>

</phpunit>
