<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="Stampie/Adapter/AdapterInterface.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Adapter/AdapterInterface.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="12" severity="critical" message="No short description for method send" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Adapter/Buzz.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Adapter/Buzz.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="16" severity="critical" message="No short description for property $browser" source="DocBlox.DocBlox.DocBlox"/>
    <error line="21" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="29" severity="critical" message="No short description for method getBrowser" source="DocBlox.DocBlox.DocBlox"/>
    <error line="37" severity="critical" message="No short description for method send" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Adapter/Guzzle.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Adapter/Guzzle.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="15" severity="critical" message="No short description for property $client" source="DocBlox.DocBlox.DocBlox"/>
    <error line="20" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="28" severity="critical" message="No short description for method getClient" source="DocBlox.DocBlox.DocBlox"/>
    <error line="36" severity="critical" message="No short description for method send" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Adapter/Response.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Adapter/Response.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="12" severity="critical" message="No short description for property $statusTexts" source="DocBlox.DocBlox.DocBlox"/>
    <error line="59" severity="critical" message="No short description for property $statusCode" source="DocBlox.DocBlox.DocBlox"/>
    <error line="64" severity="critical" message="No short description for property $content" source="DocBlox.DocBlox.DocBlox"/>
    <error line="69" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="83" severity="critical" message="No short description for method getStatusCode" source="DocBlox.DocBlox.DocBlox"/>
    <error line="91" severity="critical" message="No short description for method getContent" source="DocBlox.DocBlox.DocBlox"/>
    <error line="99" severity="critical" message="No short description for method isSuccessful" source="DocBlox.DocBlox.DocBlox"/>
    <error line="107" severity="critical" message="No short description for method getStatusText" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Adapter/ResponseInterface.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Adapter/ResponseInterface.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="12" severity="critical" message="No short description for method getStatusCode" source="DocBlox.DocBlox.DocBlox"/>
    <error line="17" severity="critical" message="No short description for method getContent" source="DocBlox.DocBlox.DocBlox"/>
    <error line="22" severity="critical" message="No short description for method getStatusText" source="DocBlox.DocBlox.DocBlox"/>
    <error line="27" severity="critical" message="No short description for method isSuccessful" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Exception/ApiException.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Exception/ApiException.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="12" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Exception/HttpException.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Exception/HttpException.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="13" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="notice" message="Name of argument $message does not match with function Docblock" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="notice" message="Name of argument $previous does not match with function Docblock" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="notice" message="Argument $code is missing from the function Docblock" source="DocBlox.DocBlox.DocBlox"/>
    <error line="25" severity="critical" message="No short description for method getStatusCode" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Mailer/MailChimpSts.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Mailer/MailChimpSts.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="31" severity="critical" message="No short description for method format" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Mailer/Postmark.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Mailer/Postmark.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="critical" message="No short description for method getEndpoint" source="DocBlox.DocBlox.DocBlox"/>
    <error line="26" severity="critical" message="No short description for method handle" source="DocBlox.DocBlox.DocBlox"/>
    <error line="43" severity="critical" message="No short description for method getHeaders" source="DocBlox.DocBlox.DocBlox"/>
    <error line="55" severity="critical" message="No short description for method format" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Mailer/SendGrid.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Mailer/SendGrid.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="critical" message="No short description for method getEndpoint" source="DocBlox.DocBlox.DocBlox"/>
    <error line="26" severity="critical" message="No short description for method setServerToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="39" severity="critical" message="No short description for method handle" source="DocBlox.DocBlox.DocBlox"/>
    <error line="55" severity="critical" message="No short description for method format" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Mailer.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Mailer.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="15" severity="critical" message="No short description for property $adapter" source="DocBlox.DocBlox.DocBlox"/>
    <error line="20" severity="critical" message="No short description for property $serverToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="25" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="35" severity="critical" message="No short description for method setAdapter" source="DocBlox.DocBlox.DocBlox"/>
    <error line="43" severity="critical" message="No short description for method getAdapter" source="DocBlox.DocBlox.DocBlox"/>
    <error line="51" severity="critical" message="No short description for method setServerToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="64" severity="critical" message="No short description for method getServerToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="72" severity="critical" message="No short description for method send" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/MailerInterface.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/MailerInterface.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="15" severity="critical" message="No short description for method setAdapter" source="DocBlox.DocBlox.DocBlox"/>
    <error line="20" severity="critical" message="No short description for method getAdapter" source="DocBlox.DocBlox.DocBlox"/>
    <error line="25" severity="critical" message="No short description for method setServerToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="30" severity="critical" message="No short description for method getServerToken" source="DocBlox.DocBlox.DocBlox"/>
    <error line="35" severity="critical" message="No short description for method getEndpoint" source="DocBlox.DocBlox.DocBlox"/>
    <error line="56" severity="notice" message="Argument $message is missing from the function Docblock" source="DocBlox.DocBlox.DocBlox"/>
    <error line="66" severity="notice" message="Argument $response is missing from the function Docblock" source="DocBlox.DocBlox.DocBlox"/>
    <error line="68" severity="critical" message="No short description for method send" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Message.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Message.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="13" severity="critical" message="No short description for property $to" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="critical" message="No short description for property $html" source="DocBlox.DocBlox.DocBlox"/>
    <error line="23" severity="critical" message="No short description for property $text" source="DocBlox.DocBlox.DocBlox"/>
    <error line="28" severity="critical" message="No short description for method __construct" source="DocBlox.DocBlox.DocBlox"/>
    <error line="40" severity="critical" message="No short description for method getTo" source="DocBlox.DocBlox.DocBlox"/>
    <error line="48" severity="critical" message="No short description for method setHtml" source="DocBlox.DocBlox.DocBlox"/>
    <error line="56" severity="critical" message="No short description for method setText" source="DocBlox.DocBlox.DocBlox"/>
    <error line="69" severity="critical" message="No short description for method getHtml" source="DocBlox.DocBlox.DocBlox"/>
    <error line="77" severity="critical" message="No short description for method getText" source="DocBlox.DocBlox.DocBlox"/>
    <error line="85" severity="critical" message="No short description for method getHeaders" source="DocBlox.DocBlox.DocBlox"/>
    <error line="93" severity="critical" message="No short description for method getReplyTo" source="DocBlox.DocBlox.DocBlox"/>
    <error line="101" severity="critical" message="No short description for method getCc" source="DocBlox.DocBlox.DocBlox"/>
    <error line="109" severity="critical" message="No short description for method getBcc" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/MessageInterface.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/MessageInterface.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="13" severity="critical" message="No short description for method getFrom" source="DocBlox.DocBlox.DocBlox"/>
    <error line="18" severity="critical" message="No short description for method getTo" source="DocBlox.DocBlox.DocBlox"/>
    <error line="23" severity="critical" message="No short description for method getCc" source="DocBlox.DocBlox.DocBlox"/>
    <error line="28" severity="critical" message="No short description for method getBcc" source="DocBlox.DocBlox.DocBlox"/>
    <error line="33" severity="critical" message="No short description for method getSubject" source="DocBlox.DocBlox.DocBlox"/>
    <error line="38" severity="critical" message="No short description for method getReplyTo" source="DocBlox.DocBlox.DocBlox"/>
    <error line="43" severity="critical" message="No short description for method getHeaders" source="DocBlox.DocBlox.DocBlox"/>
    <error line="48" severity="critical" message="No short description for method getHtml" source="DocBlox.DocBlox.DocBlox"/>
    <error line="53" severity="critical" message="No short description for method getText" source="DocBlox.DocBlox.DocBlox"/>
  </file>
  <file name="Stampie/Version.php">
    <error line="1" severity="error" message="No DocBlock was found for File Stampie/Version.php" source="DocBlox.DocBlox.DocBlox"/>
    <error line="5" severity="critical" message="No short description for class Version" source="DocBlox.DocBlox.DocBlox"/>
    <error line="10" severity="error" message="No DocBlock was found for Constant VERSION" source="DocBlox.DocBlox.DocBlox"/>
  </file>
</checkstyle>
